@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ef4444;
    --foreground: #fff;
    --background-secondary: #94caaf;
    --info-box-background: #334f70;
    --info-box-border: #361e1e;
    --info-box-critical-damage-text: #eab308;
    --info-box-moves-border: #dbb46d;
    --pokemon-info-text: #361e1e;
    --button-primary: #f44336;
    --button-secondary: #795548;
    --button-tertiary: #333030;
    --button-quaternary: #333030;
    --text-primary: #fff;
    --text-secondary: #795548;
    --text-tertiary: #dae7f3;
  }
  .dark {
    --background: #424d5a;
    --foreground: #ededed;
    --background-secondary: #547263;
    --info-box-background: #334f70;
    --info-box-border: #361e1e;
    --info-box-critical-damage-text: #eab308;
    --info-box-moves-border: #dbb46d;
    --pokemon-info-text: #361e1e;
    --button-primary: #2196f3;
    --button-secondary: #8bc34a;
    --button-tertiary: #4e5558;
    --button-quaternary: #562f00;
    --text-primary: #fff;
    --text-secondary: #000;
    --text-tertiary: #dae7f3;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
